
//----yellow-orange----
$primaryYellow: #ffd74b;
$primaryYellowHov: #ffd74b;
$primaryOrange: #ff8d30;
$orange-1: #ffa530;
$orange-2: #ffbd30;
$contactPhoneHov: #f26926;

//-----gray----
$primaryGray: #444444;
$secondaryGray: #edeff6;

//-----blue----
$primaryDarkblue: #192144;
$secondaryDarkblue: #161c35;
$darkblueTablet: #182044;
$darkblue-1: #121936;

$tooltipBG: #101d41;
$btnColor: #1d2e5b;
$popupBtnBGR: #f3f4f8;
$offlineColor: #f97676;
$onlineColor: #81e31e;
$modalBtnColorDesc: #132576;

$white: #ffffff;

