.page-main {
  padding-top: 20px;
  margin-top: -2px;
  background: $secondaryDarkblue;
}

//------tablet-version------

//@media (min-width:  $tablet-width) {
//  .page-main {
//    background: $white;
//  }
//}

